* {
  margin: 0;
  padding: 0;
}
body {
  background: #3a3d47;
  font-family: verdana;
}
.container{
  background: white;
  margin: 10px auto;
}
.superior {
  background: #1551a1;
  overflow: hidden;
}
.logo {
  float: left;
  width: 300px;
}
/* estilos para el menu de opciones*/
.menu {
  float: right;
  padding: 20px;
  font-family: Verdana;
}
.opcion li {
  float: left;
  list-style: none;
}
.opcion li a {
  color: white;
  padding: 25px;
  text-decoration: none;
  border: 1px solid width;
}
.opcion li a:hover {
    background: #0d356a;
}
.bus {
  background: #3a3d47;
  text-align: center;
}
.titulo {
  text-align: center;
  color: white;
  font-family: serif;
  font-size: 30px;
}
.botton {
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
      background-color: #1883ba;
      border-radius: 6px;
      border: 2px solid #0016b0;
      margin: 10px;
      transition: all 200ms ease 0ms;
}
.botton:hover {
  background: black;
  cursor: pointer;
  transform: translateX(8px);
}
.botones {
  text-align: left;
}

/*estilos footer*/
.pie{
  background: #062348;
  overflow: hidden;
}
.izquierda {
  float: left;
  width: 550px;
  padding: 20px;
}
.abajo {
  color: white;
  font-family: arial;
  font-size: 16px;
  padding: 10px;
}
.derecha {
  color: white;
  float: left;
  width: 550px;
  padding: 20px;
}
.siguenos {
  text-align: left;
  color: white;
  padding: 15px 0;
}
.otra {
  color: white;
  padding: 15px 0;
}
.contacto {
  color-interpolation-filters: auto;
  color: white;
  padding: 15px 0;
}
.Copyright {
  float: left;
  width: 100%;
  padding: 20px;
  background-color: #144E8C;  
  overflow: hidden;
  text-align: center;
}
.texto {
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
